body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#0b0303, #505261);
    overflow: hidden;
}

.header{
    display: flex;
    justify-content:center ;
}

.container{
    display: flex;
    height: 80vh;
    justify-content: space-around;
 

}
#sketch1 {
    width: 500px;
    height: 500px;
    border: none;
    overflow: hidden;
  }

  #sketch2 {
    width: 500px;
    border: none;
    overflow: hidden;
  }

  h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: white;
  }

  